<div class="form-container">
  <form class="form" [formGroup]="form">
    <div class="form-control">
      <numeric-input
        class="form-control-input"
        formControlName="primaryCurrencyInput"
        (input)="setValueOnPrimaryChange()"
      ></numeric-input>
      <select
        class="form-control-select"
        formControlName="primarySelectCurrency"
        (change)="setValueOnPrimaryChange()"
      >
        <option *ngFor="let option of currencyOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <button class="form-button" (click)="reversSelects()">
      <img src="assets/opposite-arrows.png" />
    </button>

    <div class="form-control">
      <numeric-input
        class="form-control-input"
        formControlName="secondaryCurrencyInput"
        (input)="setValueOnSecondaryChange()"
      ></numeric-input>
      <select
        class="form-control-select"
        formControlName="secondarySelectCurrency"
        (change)="setValueOnSecondaryChange()"
      >
        <option *ngFor="let option of currencyOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </form>
</div>
