@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --bg-color: rgba(204, 152, 22, 0.08);
  --yellow-color: #837350;
  --light-font-color: #b9b9b7;
  --dark-font-color: #8a866c;
  --link-color: #49483a;
  --base-loader-colr: #e74c3c;
  --text-shadow: 0 1px 1px #4f4c40;
  --box-shadow: 0 1px 3px #343232;
  --box-shadow-hover: 0 2px 5px #343232;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--yellow-color);
  }
}
